@tailwind base;
@tailwind components;
@tailwind utilities;

#result {
    width: 80%;
    margin: 100px auto 50px;
    display: grid;
    grid-gap: 40px;
}

#result img {
    height: 230px;
    width: 100%;
    object-fit: cover;
    border-radius: 5px;
}

@media (max-width: 700px) {
    #result {
        grid-template-columns: 1fr 1fr;
        /* Set to a single column for smaller screens */
    }
        #result img {
            height: 100px;
            width: 100%;
            object-fit: cover;
            border-radius: 5px;
        }
}

/* Media query for larger screens */
@media (min-width: 701px) {
    #result {
        grid-template-columns: 1fr 1fr 1fr;
        /* Set to three columns for screens larger than 700px */
    }
}